{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %} Recuperar contraseña  {%endblock%}</title>
        <link rel="stylesheet" href="{% static 'recuperar_contraseña/css/recuperar_contraseña.css' %}">
</head>



    {%block body%}
        <div class="password">
            <div class="password-form">
                <form class="reset-password" method="post">
                    {% csrf_token %}
                    <h2>Recupera tu contraseña</h2>
                    <div class="password-input">
                        <ion-icon name="mail-outline"></ion-icon>
                        <input type="email" placeholder="Ingresa tu correo" name="email">
                    </div>
                
                    <button type="submit" class="button">Enviar correo </a>
                </form>
            </div>
        </div>
    
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    {%endblock%}
    </html>