{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Envío de correo</title>
    <link rel="stylesheet" href="{% static 'recuperar_contraseña/css/correo.css' %}">
</head>
<body>

    

<div class="recovery">
 
    <h1>¡Correo de recuperación enviado!</h1>
    <p>Hemos enviado un correo a tu dirección de correo electrónico con las instrucciones para cambiar tu contraseña.</p>
    
    
    </div>
    
    
</body>
</html>
