{% extends 'registration/layout.html' %}

{% load static  %}
{% block title %}

Contraseña reestablecida

{% endblock %}

{% block container %}
<div class="content">

    <h2>¡Tu contraseña se ha restablecido correctamente, inicia sesión nuevamente!</h2> 
    <div class="icon">

        <img src="{% static 'assets/icons/padlock.png' %}">
    </div>

</div>


<script>
    //Función de conteo regresivo, se establece el tiempo en 5 segundos y se realiza la cuenta regresiva con la función setInterval
    let tiempo = 5;
    const destino = "{% url 'login' %}"; 

    const intervalo = setInterval(() => {
      tiempo--;

      if (tiempo < 0) {
        clearInterval(intervalo);
        window.location.href = destino;
      }
    }, 1000);
  </script>


{% endblock %}