{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reestablecer contraseña</title>
    <link rel="stylesheet" href="{% static 'recuperar_contraseña/css/cambiar_contraseña.css' %}">
</head>
<body>

    <div class="password">
        <div class="password-form">
            <form class="reset-password" method="post">
                {% csrf_token %}
                <h2>Introduce tu nueva contraseña</h2>
                <div class="password-input">
                    {% if form.errors %}
                    <ul>
                        {% for field, errors in form.errors.items %}
                            {% for error in errors %}
                                <li style="color: red;">{{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                {% endif %}
                   
                    <input  type="password" placeholder="Ingresa tu contraseña nueva" name="new_password1" required>
                    
                    <input  type="password" placeholder="Confirma tu contraseña nueva" name="new_password2" required>
                </div>
            
                <button type="submit" class="button">Cambiar contraseña</button>
            </form>
        </div>
    </div>
    
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    
</body>
</html>





