{% extends 'registration/layout.html' %}

{% load static %}


{% block title %}

Cambiar contraseña

{% endblock %}



   {% block container %}

    
    <div class="content"> 

     <h2>¡Ingresa tu nueva contraseña!</h2> 

     <form id="reset" class="reset-password" method="post" > 
    {% csrf_token %}




      <div class="inputBox"> 

        

       <input  type="password" required autofocus name="new_password1"> <i>Nueva contraseña</i> 
    
    </div> 
    <div class="inputBox"> 

       
       <input  type="password" required  name="new_password2"> <i>Confirmar contraseña</i> 

       {% if form.errors %}
       <ul>
           {% for field, errors in form.errors.items %}
               {% for error in errors %}
                   <p class="error-text">{{ error }}</p>
               {% endfor %}
           {% endfor %}
       </ul>
   {% endif %}

       </div>

     

        

     

     

     

      <div class="inputBox"> 

       <input type="submit" value="Cambiar contraseña"> 

      </div> 
    </form>

     </div> 


     

    {% endblock %} 

 







