{% extends 'registration/layout.html' %}

{% load static %}


{% block title %}

Recuperar contraseña

{% endblock %}



   {% block container %}

    
    <div class="content"> 

     <h2>Ingresa tu correo electrónico, te enviaremos un mensaje</h2> 

     <form class="reset-password" method="post"> 
    {% csrf_token %}

  


      <div class="inputBox"> 
        

       <input name="email" type="email" required autofocus> <i>Correo electrónico</i> 

      </div> 

      {% if form.email.errors %}
      <div class="input-error">
          {% for error in form.email.errors %}
              <p class="error-text">{{ error }}</p>
          {% endfor %}
      </div>
  {% endif %}

     

     

      <div class="inputBox"> 

       <input type="submit" value="Enviar correo"> 

      </div> 
    </form>

     </div> 
   

 
    {% endblock %} 

 



  

    

