{# templates/photobooth/preview_photobooth.html #}
{% extends 'layout/layout.html' %}

{% block title %}Vista Previa - Photobooth {{ evento.nombre }}{% endblock %}

{% block content %}
<br>
<div class="card mb-4">
    <div class="card-header">
        <h2>Vista Previa del Photobooth</h2>
        <p class="text-muted">Evento: {{ evento.nombre }} | Cliente: {{ evento.cliente.nombre }} {{ evento.cliente.apellido }}</p>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-10">
                <div class="card mb-8">
                    <div class="card-header">
                        <h4>Pantalla de Bienvenida</h4>
                    </div>
                    <div class="card-body">
                        <div style="height: 800px; display: flex; justify-content: center; align-items: center; background-image: url('{{ config.imagen_fondo.url }}'); background-size: contain; background-repeat: no-repeat; background-position: center;">
                            <h1 style="padding: 20px; background-color: rgba(255, 255, 255, 0.7); border-radius: 10px; color: {{ config.color_texto }}; font-size: {{ config.tamano_texto }}px; font-family: {{ config.tipo_letra }}, sans-serif;">
                                {{ config.mensaje_bienvenida }}
                            </h1>
                        </div>
                    </div>
                </div>
            </div>       
        </div>
        <div class="card-footer">
            <a href="{% url 'configurar_photobooth' evento.id %}" class="btn btn-warning">Editar Configuración</a>
            <a href="{% url 'evento_detail' evento.id %}" class="btn btn-secondary">Volver al Evento</a>
        </div>
    </div>
</div>
{% endblock %}