@import url('https://fonss.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
  
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: relative;
    overflow: hidden;
    background-image: url('../svg/style.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;/
}

.recovery {
    background-color: white;
    width: 500px;
    height: 250px;
    border-radius: 8px;
    text-align: center;
    font-size: 30px;
    
    /* Centrar contenido verticalmente */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.recovery a {
    display: inline-block;
    margin-top: 20px; /* Espacio entre el texto y el botón */
    padding: 12px 24px;
    background-color: #a3a8a6;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.recovery a:hover {
    background-color: #606261; /* Oscurecer el botón al pasar el mouse */
    transform: translateY(-2px);
}


