@import url('https://fonss.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
  
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: relative;
    overflow: hidden;
    background-image: url('../svg/style.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;/
}

.recovery{
 
    background-color: white;
    width: 500px;
    height: 250px;
    border-radius: 8px;
    text-align: center;
    

}

.recovery p{
    margin-top: 19px;
}