{% extends "layout/layout.html" %}

{% block body %}
{% include 'partials/navbar.html' %}
{% if request.user.is_authenticated and request.user.is_superuser %}


{% if request.user.is_authenticated and request.user.is_superuser %}

<style>
    body{
        padding-top: 90px;
    }
</style>
<div class="container mt-4">
    <h2 class="mb-4">Lista de Categorías</h2>
    
    <div class="row">
        {% for categoria in categorias %}
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">{{ categoria.nombre }}</h5>
                    <a href="{% url 'listar_eventos' categoria.id %}" class="btn btn-primary">ver eventos</a>
                </div>
            </div>
        </div>
        {% empty %}
        <p>No hay categorías disponibles.</p>
        {% endfor %}
    </div>
</div>
{% else %}
    <div class="container mt-5">
        <h2>Acceso denegado</h2>
        <p>No tienes permisos para acceder a esta página.</p>
    </div>
{% endif %}
{% else %}
    <div class="container mt-5">
        <h2>Acceso denegado</h2>
        <p>No tienes permisos para acceder a esta página.</p>
    </div>
{% endif %}

{% endblock %}