{% extends "layout/layout.html" %}

{% block body %}
{% if request.user.is_authenticated and request.user.is_superuser %}

<div class="container mt-5 pt-5">  <!-- Ajusta margen superior -->
    <h2>Subir Fotografía</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Subir Foto</button>
    </form>
</div>
{% else %}
    <div class="container mt-5">
        <h2>Acceso denegado</h2>
        <p>No tienes permisos para acceder a esta página.</p>
    </div>
{% endif %}
{% endblock %}
